$colors: (
    primary: blue
    lighten:  ($primary * 40%)
);


h1 {
    color: #00ccff;
};

.navbar-brand#logo{
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.container {
    padding:10px;
}

.shadows {
    box-shadow: inset 0px 11px 15px -10px #000, inset 0px -11px 15px -10px #000;
  }
  
  .borders {
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
  }
  .header-box {
      background-color: #ddd ;
}
header {
    .info_head {
        padding: 15px 0;
    }

   
.section_title {
    background-color: #343434;
    padding: 30px 0px;
    }
    }
    .info_content {
        padding: 30px 0;
    }
  
section.info_content{
    background-color: #232323 !important;
}
  body {
    /* background-color: #232323; */
    // background-image: url("assets/images/grey_wash_wall.png");
      font-size: 14px;
      
    //   font-family: 'Open Sans', sans-serif;
    //   line-height: 24px;
      color: #999 !important;
      padding: 22px;
      background-color: gray !important;
      font-weight: normal;
    
  body.box {
    background-color: white !important;
  }
//   body#layout{
//     background-image: url("assets/images/grey_wash_wall.png");
//   }
}
  /* General Settings */
  .col-12 {
    margin-top: 75px;
  }
  
  .row {
    padding-top: 0px !important;
  }

  /* overwrite boostrap */
  .img-thumbnail {
    margin: 1px;
    background-color: black !important;
  }
  
  /* new class */ 
  .nav {
    width: 100%;
    //background-color: rgba(65, 26, 26, 0.63);
    background-color: blue;

    justify-content: center
  
  }
  .nav a {
    text-align: center;
    font-size: 22px;
    // font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .nav a hover {
    color: white;
  }
  
  
  .nav-bar-dark {
    height: 65px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .nav-bar-dark > li > a {
    text-decoration: none;
    display: block;
    font-size: 15px;
    padding: 26px 20px;
  }

  li active {
    background-color: #4aaaa5;
    color: white;
  }
  
//   .jumbotron {
//     width: 100%;
//     background-size: 100% 100%;
//   }
  /* Changes the way links look on nav menu */
  /*creating an active class to show what page we are on */
  .active {
    color: white;
  }
  
  a hover {
    color: white;
  }
  
  a active {
    color: white;
  }
  
  /*Portfolio */
  .col-lg-6 {
    position: relative;
    width: 200px;
    margin: 20px 0 20px;
    overflow: hidden;
    margin-bottom: 5px;
    border-bottom: 3px;
  }
  
  .col-lg-6 img {
    width: 100%;
    border: 0 none;
    opacity: .8;
  }

  .navbar-brand {
    padding: 8px 14px;
    font-size: 20px;
  }
  
  /* Contact Form */
  label {
    color: white;
  }
  
  /* Gives inputs style, hepls select elements and textbox */
  /*footer*/
  /*h1 frames */
  h1 {
    color: blue;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: slidein;
            animation-name: slidein;

            h1 {
                // position: absolute;
                line-height: 20px;
                color: white;
                background-color: blue;

                text-align: center;
                padding: 14px;
                margin-left: 1px;
                bottom: 10px;
                border: 1px solid #999;
                font-size: 20px;
              }
              
  }
  
  @-webkit-keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  /*# sourceMappingURL=style.css.map */